.first-line {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.button {
  border-radius: 30px;
  width: 120px;
}

.filter-title {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}
mat-divider {
  width: 100%;
  margin: 10px 0px;
}
